.errors-container{
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: smaller;
  color: grey;
  padding-left: 10px;
}

.errors-container a{
  text-decoration: none;
}
